@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

// svg style
.path-0{
  animation:pathAnim-0 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,400 C 0,400 0,133 0,133 C 93.26153846153846,155.8948717948718 186.52307692307693,178.7897435897436 268,171 C 349.4769230769231,163.2102564102564 419.1692307692308,124.73589743589743 490,121 C 560.8307692307692,117.26410256410257 632.8000000000001,148.26666666666668 701,158 C 769.1999999999999,167.73333333333332 833.6307692307691,156.19743589743587 924,140 C 1014.3692307692309,123.80256410256412 1130.676923076923,102.94358974358975 1221,101 C 1311.323076923077,99.05641025641025 1375.6615384615384,116.02820512820512 1440,133 C 1440,133 1440,400 1440,400 Z");
  }
  25%{
    d: path("M 0,400 C 0,400 0,133 0,133 C 69.06666666666666,124.9974358974359 138.13333333333333,116.9948717948718 212,118 C 285.8666666666667,119.0051282051282 364.5333333333333,129.0179487179487 464,135 C 563.4666666666667,140.9820512820513 683.7333333333333,142.9333333333333 752,150 C 820.2666666666667,157.0666666666667 836.5333333333334,169.24871794871797 915,176 C 993.4666666666666,182.75128205128203 1134.1333333333332,184.07179487179488 1232,176 C 1329.8666666666668,167.92820512820512 1384.9333333333334,150.46410256410257 1440,133 C 1440,133 1440,400 1440,400 Z");
  }
  50%{
    d: path("M 0,400 C 0,400 0,133 0,133 C 91.39487179487176,148.5410256410256 182.78974358974352,164.08205128205125 262,170 C 341.2102564102565,175.91794871794875 408.2358974358975,172.21282051282054 483,163 C 557.7641025641025,153.78717948717946 640.2666666666667,139.06666666666666 715,131 C 789.7333333333333,122.93333333333335 856.697435897436,121.52051282051283 947,132 C 1037.302564102564,142.47948717948717 1150.9435897435897,164.85128205128203 1237,167 C 1323.0564102564103,169.14871794871797 1381.5282051282052,151.07435897435897 1440,133 C 1440,133 1440,400 1440,400 Z");
  }
  75%{
    d: path("M 0,400 C 0,400 0,133 0,133 C 62.802564102564105,105.60000000000001 125.60512820512821,78.20000000000002 207,89 C 288.3948717948718,99.79999999999998 388.3820512820513,148.79999999999998 467,168 C 545.6179487179487,187.20000000000002 602.8666666666667,176.6 685,153 C 767.1333333333333,129.4 874.1512820512821,92.80000000000001 954,92 C 1033.8487179487179,91.19999999999999 1086.5282051282052,126.19999999999999 1163,139 C 1239.4717948717948,151.8 1339.7358974358974,142.4 1440,133 C 1440,133 1440,400 1440,400 Z");
  }
  100%{
    d: path("M 0,400 C 0,400 0,133 0,133 C 93.26153846153846,155.8948717948718 186.52307692307693,178.7897435897436 268,171 C 349.4769230769231,163.2102564102564 419.1692307692308,124.73589743589743 490,121 C 560.8307692307692,117.26410256410257 632.8000000000001,148.26666666666668 701,158 C 769.1999999999999,167.73333333333332 833.6307692307691,156.19743589743587 924,140 C 1014.3692307692309,123.80256410256412 1130.676923076923,102.94358974358975 1221,101 C 1311.323076923077,99.05641025641025 1375.6615384615384,116.02820512820512 1440,133 C 1440,133 1440,400 1440,400 Z");
  }
}
.path-1{
  animation:pathAnim-1 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,400 C 0,400 0,266 0,266 C 86.32564102564103,259.12307692307695 172.65128205128207,252.24615384615385 243,249 C 313.34871794871793,245.75384615384615 367.72051282051285,246.1384615384615 436,245 C 504.27948717948715,243.8615384615385 586.4666666666666,241.2 679,251 C 771.5333333333334,260.8 874.4128205128206,283.0615384615385 970,280 C 1065.5871794871794,276.9384615384615 1153.8820512820512,248.55384615384614 1231,242 C 1308.1179487179488,235.44615384615386 1374.0589743589744,250.72307692307692 1440,266 C 1440,266 1440,400 1440,400 Z");
  }
  25%{
    d: path("M 0,400 C 0,400 0,266 0,266 C 83.87179487179486,256.0435897435898 167.74358974358972,246.08717948717953 257,252 C 346.2564102564103,257.9128205128205 440.897435897436,279.69487179487174 510,289 C 579.102564102564,298.30512820512826 622.6666666666666,295.1333333333334 687,289 C 751.3333333333334,282.8666666666666 836.4358974358977,273.77179487179484 926,264 C 1015.5641025641023,254.22820512820516 1109.5897435897434,243.77948717948718 1196,244 C 1282.4102564102566,244.22051282051282 1361.2051282051284,255.1102564102564 1440,266 C 1440,266 1440,400 1440,400 Z");
  }
  50%{
    d: path("M 0,400 C 0,400 0,266 0,266 C 85.37179487179489,255.53076923076924 170.74358974358978,245.06153846153848 248,252 C 325.2564102564102,258.9384615384615 394.3974358974358,283.2846153846154 466,275 C 537.6025641025642,266.7153846153846 611.6666666666667,225.79999999999998 689,217 C 766.3333333333333,208.20000000000002 846.9358974358976,231.51538461538462 924,246 C 1001.0641025641024,260.4846153846154 1074.5897435897434,266.1384615384615 1160,268 C 1245.4102564102566,269.8615384615385 1342.7051282051284,267.9307692307692 1440,266 C 1440,266 1440,400 1440,400 Z");
  }
  75%{
    d: path("M 0,400 C 0,400 0,266 0,266 C 89.75897435897437,292.67435897435894 179.51794871794874,319.34871794871793 255,305 C 330.48205128205126,290.65128205128207 391.6871794871795,235.27948717948718 465,227 C 538.3128205128205,218.72051282051282 623.7333333333333,257.53333333333336 702,270 C 780.2666666666667,282.46666666666664 851.3794871794872,268.58717948717947 926,261 C 1000.6205128205128,253.41282051282053 1078.748717948718,252.1179487179487 1165,254 C 1251.251282051282,255.8820512820513 1345.625641025641,260.94102564102565 1440,266 C 1440,266 1440,400 1440,400 Z");
  }
  100%{
    d: path("M 0,400 C 0,400 0,266 0,266 C 86.32564102564103,259.12307692307695 172.65128205128207,252.24615384615385 243,249 C 313.34871794871793,245.75384615384615 367.72051282051285,246.1384615384615 436,245 C 504.27948717948715,243.8615384615385 586.4666666666666,241.2 679,251 C 771.5333333333334,260.8 874.4128205128206,283.0615384615385 970,280 C 1065.5871794871794,276.9384615384615 1153.8820512820512,248.55384615384614 1231,242 C 1308.1179487179488,235.44615384615386 1374.0589743589744,250.72307692307692 1440,266 C 1440,266 1440,400 1440,400 Z");
  }
}
// Svg



// Utility class
.flex{
  display: flex;
}
.flex-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.space-between{
  justify-content: space-between;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 1em;
}
// Main style
body{
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 10px;
 }
 
  &::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }
  &::-webkit-scrollbar-thumb{
    background-color: #b853f3;
    border-radius: 20px;
    width: 10px;
  }
}

*{
  margin: 0;
  box-sizing: border-box;
}

// Utilities
.container{
  width: 90%;
  margin: 0 auto;
}

.btn{
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  padding: 10px;
  width: 7em;
  text-align: center;
  border-radius: 20px;

}

.hero-container{
  overflow-y: hidden;
  position: relative;
  height: 100vh;
  background-color: whitesmoke;
}
header{
   padding: 30px 0;
  
   .logo{
     font-size: 25px;
     font-weight: bolder;
     transform: translateY(7px);
     span{
       font-weight: lighter;
     }
   }

   
   .btn{
    background: #9900EF;
    color: white;
    
     &:nth-last-of-type(1){
      background:transparent;
      color: rgb(27, 27, 27);
      border:1px solid #9900EF;
     }
   }
   i{
     display: inline-block;
     font-size: 30px;
     transform: translateY(.3em);
     display: none;
   }
}

nav{
  a{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: rgb(27, 27, 27);
    font-size: 18px;
    transform: translateY(15px);
  }
}

.hero-text{
  text-align: center;
  line-height: 3rem;
  transform: translateY(9em);

p{
    font-size: 18px;
  }

  .btn{
    width: 9em;
    background-color: #b853f3;
    padding: 0;
    color: white;
    transform: translateY(1em);
  }
}

svg{
  position:absolute;
  height: 100vh;
  top: 18em;
}
.about-container{
  padding-bottom: 5%;
  img{
    width: 55%;
  }
}

.about-text{
  transform: translateY(7em);
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 70px;
    border: 1px solid #b853f3;
 }

  .progress {
      background-color: #b853f3;
      height: 3px;
      width: 50%;
      transition: width 0.1s linear;
  }
  p{
    margin: 30px 0;
    line-height: 1.8em;

    
  }
  a{
    color: #9900EF;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.package-container{
  background-color: rgb(252, 252, 252);
  padding-top: 30px;
  text-align: center;
  height: 80vh;
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 70px;
    border: 1px solid #b853f3;
    margin: 10px auto;
 }

  .progress {
      background-color: #b853f3;
      height: 3px;
      width: 50%;
      transition: width 0.1s linear;
      transform: translateX(1em);
  }
  .package-header-text{
    text-align: center;
  }
  a{
    color: #bb59f3;
    text-decoration: none;
    display: inline-block;
    transform: translateY(1em);
    transition: .5s ease;

    &:hover{
      color: #9900EF;
    }
  }
}
.packages{
  margin: 3em auto ;
   width: 700px;
}
.package{
  width: 220px;
  background: white;
  padding:50px 20px;
  text-align: center;
  box-shadow: 1px 2px 9px 0px rgb(150, 150, 150);
  border-radius: 10px;
  transition: .6s ease;
  position: relative;
 &:hover{
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  -20px -20px 60px #bebebe,
               20px 20px 60px #ffffff;
  background-color: #9900EF;
  color: white;
  transform: scale(1.1);
  h2,a{
    color: white;
  }
 }
  strong{
    margin-bottom: 1.5em;
    display: inline-block;
  }
  h2{
    color: #9900EF ;
  }
}
.newsletter-container{
  position: relative;
  overflow: hidden;
  background-color:rgba(245, 245, 245, 0.041);
  background-image: url('../public/img/3.png');
  // background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E" );
  img:first-of-type{
    position: absolute;
    top:60px;
    z-index:-1;
    transform: translate(60em,-20em);
    display: inline-block;
  }
  img:last-of-type{
    position: absolute;
    top:-20px;
    z-index:-1;
    transform: translate(-60em,-10em);
    display: inline-block;
    transform: rotateZ(180);
  }
 
}
.newsletter{
  width: 100%;
  padding: 9em 0 9em 0;
  text-align: center;
  background:rgba(255, 255, 255, 0.733);
  h2{
    margin-bottom: 20px;
  }
  z-index: 2;
}
.form{
  input{
    display: inline-block;
    width: 600px;
    height:40px;
    padding:0 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid rgb(177, 177, 177);
  }
  button{
    height: 38px;
    width: 40px;
    background-color: #9900EF;
    color: white;
    outline: none;
    border-radius: 50%;
    transform: translate(.1em,.3em);
    border: none;

  }
  i{
    font-size: 20px;
    transform: translateY(.1em);
    display: inline-block;
  }
}

.faqs-container{
  background: whitesmoke;
  padding-top:30px ;
  padding-bottom: 5em;
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 70px;
    border: 1px solid #b853f3;
    margin: 10px auto;
 }

  .progress {
      background-color: #b853f3;
      height: 3px;
      width: 50%;
      transition: width 0.1s linear;
      transform: translateX(1em);
  }
  h2{
    text-align: center;
  }
}

.faqs .container{
width: 600px;
margin: 3em auto 0 auto;
padding-bottom: 3em;


}
.faq{
 
  margin: 1em 0;
}

summary{
  font-weight: bolder;
  font-size: 17px;
  width: 100%;
  border: 1px solid rgb(146, 146, 146);
  padding: 20px;
  border-radius: 10px;
  background-color: #b853f348;
  // text-align: left;
  transition: .5s ease;
  // padding: 10px;
  // border-radius: 10px;
}
.answer{
  display: inline-block;
  margin: 1em 0;
  line-height: 2em;
  text-align: left;
}
.extra-question{
  text-align: center;
  h3{
    text-align: center;
    margin: 0em 0 1em 0;
  }
  .btn{
    width: 11em;
    background-color: #9900EF;
    color: white;
    margin: 0 auto;
    display: inline-block;
 }
}
details[open] summary~ *{
   animation: sweep .6s ease-in-out;
}



@keyframes sweep {
  from {
    transform:translateY(-1em);
    opacity:0;
  }
  to {
    transform:translateY(0);
    opacity:1;
  }
  
}
footer{
  text-align: center;
  background-image: url('../public/img/3.png');
  // background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E" );
  i{
    display:inline-block;
    margin: 0 15px;
    font-size: 20px;
    border-radius: 50%;
    border:1px solid  rgb(153, 153, 153);
    padding: 10px;
    color: rgb(153, 153, 153);
    transition: .3s ease-in-out;

    &:hover{
      color: #9900EF;
      border:1px solid  #9900EF;
      transform:scale(1.2);

    }
  }
  span{
    display: block;
    margin: 2em 0;

    strong{
      a{
        color: #9900EF;
      }
    }
  }
  a{
    text-decoration: none;
  }
  .container{
    padding:3em 0;
    background-color: rgba(245, 245, 245, 0.74);
    width: 100%;
  }
  
}



@media(max-width:1170px){
  header{
    .btn{
      display: none;
    }
    nav{
      display: none;
    }
    i{
      display: block; 
      color: #9900EF;
    }
 }
}
@media(max-width:1300px){
  nav{
    a{
      margin: 0 12px;
    }
  }
}
@media(max-width:1250px){
  header{
    .btn{
      display: none;
    }
    nav{
      display: none;
    }
    i{
      display: block; 
      color: #9900EF;
    }
 }
 .about-container{
  img{
    margin-top: 5em;
  }
}
}

@media (max-width:1100px) {
  .about-container{
    height: fit-content;
    padding-bottom: 10%;
    .flex{
      display: block;
    }
    .flex-reverse{
      display: block;
    }
    .container:last-of-type{
       flex-direction: row-reverse;
    }
    img{
      display: none;
    }
    .container{
      margin-bottom: 4em;
    }
    h2{
      text-align: center;
    }
  }
  .about-text{
    transform: translateY(4em);
    .progress-container{
      margin: 10px auto;
    }
    .progress{
      margin: 0 auto;
    }
  }
}
@media(max-width:800px){
  .hero-text{
    // background: #000;
    margin: 0 1em;
  
  p{
      font-size: 18px;
      line-height: 2em;
      margin: 1em 0;
    }
  
    .btn{
      width: 9em;
      background-color: #b853f3;
      padding: 0;
      color: white;
      transform: translateY(1em);
    }
  }
}

@media(max-width:770px){
  .grid{
    grid-template-columns: repeat(2,1fr);
   
  }
  .package-container{
    height: 100%;
    padding-bottom: 4em;
  }
  .packages{
    width: 480px;
  }
  .form{
    input{
      width: 80%;
    }
  }
  .faqs .container{
    width: 80%;
    
  }
}
@media(max-width:600px){
  .grid{
    grid-template-columns: repeat(1,1fr);
  }
  .packages{
    width: 80%;
  }
  .package{
  width: 100%;
  }
  h2{
    font-size: 22px;
  }
  .newsletter{
    padding: 5em 0 5em 0;
  }
}
@media(max-width:389px){
  footer{
    a{
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}
@media(max-width:360px){
  .hero-text{
    h1{
      font-size: 20px;
    }
    p{
      font-size: 16px;
    }
  }
  .newsletter{
    h2{
     font-size: 20px;
    }
  }
  summary{
    font-size: 14px;
  }
  header{
    .logo{
      font-size: 18px;
    }
    i{
      font-size: 18px;
    }
  }
  
}


// Mobile nav
.mobile-nav{
  background-color:whitesmoke;
   position: fixed;
   width: 100%;
   z-index: 3;
   overflow: hidden;
   transition: .5s ease;
   height: 100vh;
}
.mobile-nav i{
  float: right;
  color:#9900EF;
  font-size: 20px;
}
.mobile-nav nav{
  transform: translateY(6em);
  width:300px;
  margin:0 auto;
  opacity: 0;
  animation: slide-in forwards 2s;
}
.mobile-nav a{
  display: block;
  font-size: 25px;
  margin: 1em 0;
  transition:  .5s ease;
  color: #9900EF;
}
.mobile-nav a:hover{
  color: #9900EF;
}

@keyframes slide-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/*
 End of Home Styling
 End of Home Styling
 End of Home Styling
 End of Home Styling
 End of Home Styling
 End of Home Styling
 End of Home Styling
 End of Home Styling
*/








/*
 Our Packages
 Our Packages
 Our Packages
 Our Packages
 Our Packages
 Our Packages
 Our Packages
 Our Packages
 */

 .op-parent-container{
   .grid{
     row-gap: 1em;
     column-gap: 1em;
   }
   .hero-container-2{
     background-image: url('../public/img/3.png');
    //  background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E" );
     position: relative;
   }


   .overlay{
     background: rgba(245, 245, 245, 0.658);
     height: 80%;
     width: 100%;
     position: absolute;
   }
 }
 .hero-container-2{
   header{
    background: rgba(245, 245, 245, 0.658);
   }
   height: 60vh;
  
 }
.all-packages{
  .container{
    width: 75%;
    margin: 0 auto;
  }
  margin:5em 0;
  .btn{
    background-color: #9900EF;
    color: white;
    width:12em;
    margin:4em auto;
    display:block;
  }
  .package{
    width: 100%;
    border: 1px solid #9900EF;
    &:hover{
      transform: scale(1);
      background: #fff;
        border-radius: 10px;
        box-shadow:  -20px -20px 60px #bebebe,
                     20px 20px 60px #ffffff;
      color: black;               
    }
    box-shadow: unset;
    section{
      margin-top: 2em;
    }
    h1{
      color: #9900EF;
    }
    span{
      display: block;
      text-align: center;
    }
    strong{
      color: rgb(61, 61, 61);
    }
    h3{
      margin-bottom: 1em;
      display: inline-block;
      width: 80%;
      border-top: 1px solid whitesmoke;
      border-bottom: 1px solid whitesmoke;
      padding:1em 0;
    }
 
  }
}
 
 @media (max-width:1350px) {
  .package{
    width: 350px;
  }
 }
 @media (max-width:1200px) {
   .op-parent-container{
     .grid{
       grid-template-columns: repeat(2,1fr);
     }
   }
   .all-packages{
     width: 70%;
     margin:5em auto;
   }
   .package{
     width: 90%;

   }
 }
 @media (max-width:1000px){
  .op-parent-container{
    .grid{
      grid-template-columns: repeat(1,1fr);
    }
  }
  .all-packages{
    width: 100%;
    margin:5em auto;
    .container{
      width: 90%;
    }
  }
  .package{
    width: 100%;
  }
 }
 @media(max-width:500px){
   .package{
     h1{
       font-size: 25px;
     }
     span{
       font-size: 12px;
     }
   }
 }


//  End of Our Packages Styling
//  End of Our Packages Styling
//  End of Our Packages Styling
//  End of Our Packages Styling
//  End of Our Packages Styling
//  End of Our Packages Styling
//  End of Our Packages Styling
//  End of Our Packages Styling
//  End of Our Packages Styling










// Get Coupon Code
// Get Coupon Code
// Get Coupon Code
// Get Coupon Code
// Get Coupon Code
// Get Coupon Code
// Get Coupon Code
// Get Coupon Code
// Get Coupon Code
// Get Coupon Code


.bcc-parent-container{
  .grid{
    row-gap: 3em;
  }
  .space-around{
    justify-content: space-around;
  }
  .hero-container-2{
    background-image: url('../public/img/3.png');
    // background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E" );
    position: relative;
  }


  .overlay{
    background: rgba(245, 245, 245, 0.658);
    height: 80%;
    width: 100%;
    position: absolute;
  }
}
.hero-container-2{
  header{
   background: rgba(245, 245, 245, 0.658);
  }
  height: 60vh;
 
}
.bcc-main-container{
  padding:3em 0;
  p{
    text-align: center;
  }
  .container{
    width: 900px;
    margin: 3em auto;
    
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
  .dispatcher-wrapper{
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 10px;
   }
   
    &::-webkit-scrollbar-track {
      background-color: rgb(255, 255, 255);
    }
    &::-webkit-scrollbar-thumb{
      background-color: #b853f3;
      border-radius: 20px;

    }
  }
}
.dispatchers{
  box-sizing: content-box;
  width: 100 vw;
  overflow-x: hidden;
  .header{
    // text-align: center;
  }
  // background: #000;
}
.dispatcher{
 border-top: 1px solid whitesmoke; 
 padding: 1em 0;
  i{
    display: block;
    width: 3em;
    text-align: center;
    color: #9900EF;
    font-size: 18px;
  }
  strong{
    width: 8em;
    // text-align: center;
    // background: rgba(0, 0, 0, 0.308);
  } 
  a{
    text-decoration: none;
  }
}


// How it works
// How it works
// How it works
// How it works
// How it works
// How it works
// How it works
// How it works

.hiw-parent-container{
  .grid{
    row-gap: 1em;
    column-gap: 1em;
  }
  .hero-container-2{
    background-image: url('../public/img/3.png');
    // background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E" );
    position: relative;
  }


  .overlay{
    background: rgba(245, 245, 245, 0.658);
    height: 80%;
    width: 100%;
    position: absolute;
  }
}